<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="/">Home</a>
                <a class="link-secondary" href="/about">About</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" style="font-family: 'Playfair Display', serif; font-weight: 400; font-size: 36px;" href="#">blog</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <div class="ht-tm-element btn-group ml-auto">
                    <a class="btn btn-sm btn-outline-dark" href="/register">
                      <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Register">
                        <i class="fas fa-user-plus d-none d-md-block d-lg-none"></i>
                      </span>
                      <span class="d-sm-block d-md-none d-lg-block">
                        <i class="bi bi-person-plus-fill"></i> Register
                      </span>
                    </a>
                    <a class="btn btn-sm btn-outline-dark" href="/login">
                    <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Login">
                        <i class="fas fa-sign-in-alt d-none d-md-block d-lg-none"></i>
                    </span>
                    <span class="d-sm-block d-md-none d-lg-block">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </span>
                    </a>
              </div>
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2 text-center">
        <a class="p-2 link-secondary" href="/news">News</a>
        <a class="p-2 link-secondary" href="/posts">Posts</a>
        <a class="p-2 link-secondary" href="/users">Users</a>
        <a class="p-2 link-secondary" href="/challenges">Challenges</a>
    </div>
</div>